<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="transmission" params="prefix hw_interface">

	<!-- Palm transmission macro -->
    <transmission name="${prefix}palm_finger_1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}palm_finger_1_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}palm_finger_1_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <transmission name="${prefix}palm_finger_2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}palm_finger_2_joint">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}palm_finger_2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

	<!-- Finger 1 transmission macro -->
    <transmission name="${prefix}finger_1_trans_1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}finger_1_joint_1">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}finger_1_motor_1">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <transmission name="${prefix}finger_1_trans_2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}finger_1_joint_2">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}finger_1_motor_2">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <transmission name="${prefix}finger_1_trans_3">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}finger_1_joint_3">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}finger_1_motor_3">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

	<!-- Finger 2 transmission macro -->
    <transmission name="${prefix}finger_2_trans_1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}finger_2_joint_1">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}finger_2_motor_1">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <transmission name="${prefix}finger_2_trans_2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}finger_2_joint_2">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}finger_2_motor_2">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <transmission name="${prefix}finger_2_trans_3">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}finger_2_joint_3">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}finger_2_motor_3">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

	<!-- Finger middle transmission macro -->
    <transmission name="${prefix}finger_middle_trans_1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}finger_middle_joint_1">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}finger_middle_motor_1">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <transmission name="${prefix}finger_middle_trans_2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}finger_middle_joint_2">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}finger_middle_motor_2">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
    <transmission name="${prefix}finger_middle_trans_3">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}finger_middle_joint_3">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}finger_middle_motor_3">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>
</robot>