<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Definition of the main macro. -->
  <xacro:macro name="robotiq_2f85_gazebo" params="
    prefix
    joint_limits_parameters_file
    physical_parameters_file
    visual_parameters_file
    transmission_hw_interface:=hardware_interface/EffortJointInterface"
  >
    <xacro:include filename="$(find robotiq_2f_description)/urdf/robotiq_2f_macro.xacro"/>

    <xacro:robotiq_2f_assembler
      prefix="${prefix}"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
      transmission_hw_interface="${transmission_hw_interface}"
    />

    <gazebo>
      <!-- Configure mimic_joint_plugin for non-driven joints. -->
      <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="${prefix}mimic_0">
        <joint>${prefix}finger_joint</joint>
        <mimicJoint>${prefix}finger_joint_mimic</mimicJoint>
        <multiplier>1.0</multiplier>
      </plugin>
      <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="${prefix}mimic_1">
        <joint>${prefix}finger_joint</joint>
        <mimicJoint>${prefix}finger_0_palm_proximal_phalanx</mimicJoint>
        <multiplier>1.0</multiplier>
      </plugin>
      <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="${prefix}mimic_2">
        <joint>${prefix}finger_joint</joint>
        <mimicJoint>${prefix}finger_1_palm_proximal_phalanx</mimicJoint>
        <multiplier>1.0</multiplier>
      </plugin>
        <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="${prefix}mimic_3">
        <joint>${prefix}finger_joint</joint>
        <mimicJoint>${prefix}finger_1_bar_fingertip</mimicJoint>
        <multiplier>-1.0</multiplier>
      </plugin>
      <plugin filename="libroboticsgroup_gazebo_mimic_joint_plugin.so" name="${prefix}mimic_4">
        <joint>${prefix}finger_joint</joint>
        <mimicJoint>${prefix}finger_0_bar_fingertip</mimicJoint>
        <multiplier>-1.0</multiplier>
      </plugin>
    </gazebo>

    <!-- Configure self collision properties per link. -->
    <gazebo reference="palm">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="finger_0_proximal_phalanx">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="finger_1_proximal_phalanx">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="finger_0_bar_link_0">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="finger_1_bar_link_0">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="finger_0_fingertip">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="finger_1_fingertip">
      <selfCollide>false</selfCollide>
    </gazebo>

    <!-- Configure behavior of the (rubber) finger pads. -->
    <gazebo reference="finger_0_finger_pad">
      <kp>10000000.0</kp>
      <kd>1.0</kd>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <fdir1 value="1 0 0"/>
      <maxVel>0.0</maxVel>
      <minDepth>0.003</minDepth>
    </gazebo>
    <gazebo reference="finger_1_finger_pad">
      <kp>10000000.0</kp>
      <kd>1.0</kd>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <fdir1 value="1 0 0"/>
      <maxVel>0.0</maxVel>
      <minDepth>0.003</minDepth>
    </gazebo>

  </xacro:macro>
</robot>