<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Definition of the main macro. -->
  <xacro:macro name="robotiq_3f_gazebo" params="
    prefix
    joint_limits_parameters_file
    physical_parameters_file
    visual_parameters_file
    transmission_hw_interface:=hardware_interface/EffortJointInterface"
  >
    <xacro:include filename="$(find robotiq_3f_description)/urdf/inc/robotiq_3f_macro.xacro"/>

    <xacro:robotiq_3f_assembler
      prefix="${prefix}"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
      transmission_hw_interface="${transmission_hw_interface}"
    />

    <!-- Configure self collision properties per link. -->
    <gazebo reference="palm">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="finger_1_link_0">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="finger_2_link_0">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="finger_1_link_1">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="finger_2_link_1">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="finger_middle_link_1">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="finger_1_link_2">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="finger_2_link_2">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="finger_middle_link_2">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="finger_1_link_3">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="finger_2_link_3">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="finger_middle_link_3">
      <selfCollide>true</selfCollide>
    </gazebo>

    <!-- Configure behavior of the (metal) finger pads/fingertips. -->
    <gazebo reference="finger_1_link_3">
      <kp>10000000.0</kp>
      <kd>1.0</kd>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <fdir1 value="1 0 0"/>
      <maxVel>0.0</maxVel>
      <minDepth>0.003</minDepth>
    </gazebo>
    <gazebo reference="finger_2_link_3">
      <kp>10000000.0</kp>
      <kd>1.0</kd>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <fdir1 value="1 0 0"/>
      <maxVel>0.0</maxVel>
      <minDepth>0.003</minDepth>
    </gazebo>
    <gazebo reference="finger_middle_link_3">
      <kp>10000000.0</kp>
      <kd>1.0</kd>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <fdir1 value="1 0 0"/>
      <maxVel>0.0</maxVel>
      <minDepth>0.003</minDepth>
    </gazebo>

  </xacro:macro>
</robot>